body {
    background: linear-gradient(black, #DA1818);
}

h1 {
    text-align: center;
    color: white;
    text-shadow: 4px 4px 3px #D4AF37;
    font-size: 50px;
}


input {background-color: black;
color:rgb(180, 176, 171);}

input,
label,
textarea {
    margin-left: 30px;
}

.form-wrapper {
    background: linear-gradient(red black);
    width: 700px;
    margin-left: 20%;
    border: 5px solid;
    box-shadow: 0 0 20px 5px red;
    
}

.up {
    color: #92db0a;
}

.down {
    color: rgb(234, 238, 9);
}

.mm {
    color: aliceblue;
}

a{
    text-align: center;
    margin-left: 40%;
    background-color: black;
    color: red;
    border-radius: 50%;
    border: solid 2px;
    text-decoration: none;
}

a:hover {
    background-color: red;
    color: black;
    transform: scale(1.1);
    transition: 0.2s;
    box-shadow: 0 0 20px 5px white;
}

.form {
    padding: 8px;
}